<nav>
   <div class="nav-wrapper green darken-1">
     <a href="/" class="brand-logo">PlantTrack</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/login" class="waves-effect waves-light btn cyan darken-1">Login</a></li>
     </ul>
   </div>
 </nav>

<section>
  <div class="col s6 offset-s3">
 <div class="row">
   <h3 class="header center-align" style="color:#00acc1;">Sign Up</h3>
   <h6 class="center-align">Join PlantTrack for Effortlessly Healthy Plants</h6>
 </div>
 </div>
</section>

<div class="row">
    <form action="/signup" class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="email" type="text" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input type="submit" class="waves-effect waves-light btn deep-orange lighten-1" name="submit"></input>
          <a href="/login" class="waves-effect waves-light btn blue-grey lighten-3">Login</a>
        </div>
      </div>
    </form>
</div>
