<nav>
   <div class="nav-wrapper green darken-1">
     <a href="/" class="brand-logo">PlantTrackr</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/plants">Browse</a></li>
       <li><a href="/greenhouse">My Plants</a></li>
       <li class="active"><a href="/plants/new">Create Plant</a></li>
       <li><a href="/logout" class="waves-effect waves-light btn light-green darken-4">Logout</a></li>
     </ul>
   </div>
 </nav>

<section>
  <div class="row">
   <div class="col s8 offset-s2">
      <%if !!@planterrors%>
        <h6>Errors:</h6>
        <ul>
          <%@planterrors.each do |k,v|%>
            <li><b><%=k.to_s%></b>: <%=v%></li>
          <%end%>
        </ul>
      <%end%>
      <h4 class="header center-align" style="color:#00acc1; margin-top:50px;">Add a New Plant</h4>
      <div class="row">
          <form id="newplant" action="/plants" class="col s12" method="POST">
            <div class="row">
              <div class="input-field col m12 s12">
                <input id="name" type="text" name="plant[name]" required>
                <label for="name">Plant Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m12 s12">
                <input id="picture" type="url" name="plant[picture]" required>
                <label for="picture">Photo Url</label>
              </div>
            </div>

            <div class="row">
              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Sunlight Needs</h6>
                <p>
                <input name="plant[sunlight]" type="radio" id="sunlight_low" value="Low" required/>
                <label for="sunlight_low">Low</label>
              </p>
                <p>
                <input name="plant[sunlight]" type="radio" id="sunlight_med" value="Medium" required/>
                <label for="sunlight_med">Medium</label>
              </p>
                <p>
                <input name="plant[sunlight]" type="radio" id="sunlight_high" value="High" required/>
                <label for="sunlight_high">High</label>
              </p>
              </div>
              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Soil Type</h6>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-clay" value="Clay" required/>
                  <label class="tooltipped" data-position="right" data-delay="50" data-tooltip="Very small particles, good water retention, heavy. Sticky to the touch when wet, but smooth when dry." for="soil-clay">Clay</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-silt" value="Silt" required/>
                  <label for="soil-silt">Silt</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-peaty" value="Peaty" required/>
                  <label for="soil-peaty">Peaty</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-loam" value="Loam" required/>
                  <label for="soil-loam">Loam</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-chalky" value="Chalky" required/>
                  <label for="soil-chalky">Chalky</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-sandy" value="Sandy" required/>
                  <label for="soil-sandy">Sandy</label>
                </p>
                <p>
                  <input name="plant[soil]" type="radio" id="soil-rocky" value="Rocky" required/>
                  <label for="soil-rocky">Rocky</label>
                </p>
              </div>

              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Container Size</h6>
                <p>
                  <input name="plant[container]" type="radio" id="container-xs" value="Extra Small" required/>
                  <label for="container-xs">Extra Small</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-sm" value="Small" required/>
                  <label for="container-sm">Small</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-med" value="Medium" required/>
                  <label for="container-med">Medium</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-lg" value="Large" required/>
                  <label for="container-lg">Large</label>
                </p>
                <p>
                  <input name="plant[container]" type="radio" id="container-xl" value="Extra Large" required/>
                  <label for="container-xl">Extra Large</label>
                </p>
              </div>

              <div class="col s12 m3">
                <h6 class="flow-text" style="color:#00acc1;">Soil Drainage Needs</h6>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-low" value="Low"  required/>
                  <label for="drainage-low">Low</label>
                </p>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-med" value="Medium" required/>
                  <label for="drainage-med">Medium</label>
                </p>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-high" value="High" required/>
                  <label for="drainage-high">High</label>
                </p>
                <p>
                  <input name="plant[drainage]" type="radio" id="drainage-very-high" value="Very High" required/>
                  <label for="drainage-very-high">Very High</label>
                </p>
              </div>
            </div>
            </div>
            </div>
            </div>
      </section>

<div class="parallax-container" style="height:700px">
 <div class="parallax"><img src="https://images.pexels.com/photos/631909/pexels-photo-631909.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"></div>

   <section style="margin-top:80px;">
     <div class="row">
      <div class="col s8 offset-s2">
         <div class="card" style="padding-bottom:2em;">
          <div class="card-content">
            <h5 class="header center-align" style="color:#00acc1;">Keep Your Plant Up-to-date</h5>
            <h4 class="header center-align" style="color:#00acc1;">Add a Plant Status Event</h4>


            <div class="input-field" id="plant_statuses_event" >
            <select name="plant[statuses][event]" form="newplant">
              <option value="" disabled selected>Select an event</option>
              <option class="water_status" value="Watered" id="watered">Watered</option>
              <option class="water_status" value="Pruned" id="pruned">Pruned</option>
              <option class="water_status" value="Move to More Sun" id="moresun">Moved to More Sun</option>
              <option class="water_status" value="Moved to Less Sun" id="lesssun">Moved to Less Sun</option>
              <option class="water_status" value="Repotted" id="repotted">Repotted</option>
              </select>
               <label for="plant_statuses_event">Event</label>
            </div>

          <label for="status-date">Select the Event date</label>
          <input type="text" class="datepicker" id="status-date" name="plant[statuses][event_date]" form="newplant">

              <div class="input-field">
              <select name="plant[statuses][leaf_status]" form="newplant">
                <option value="" disabled selected>How's your plant looking?</option>
                <option value="New Growth">New Growth</option>
                <option value="Healthy">Healthy</option>
                <option value="Curling">Curling</option>
                <option value="Drooping">Drooping</option>
                <option value="Yellowing">Yellowing</option>
                <option value="Light Spots">Light Spots</option>
                <option value="Dark Spots">Dark Spots</option>
                <option value="Dead Leaves">Dead Leaves</option>
                </select>
                 <label>Leaf Status</label>
              </div>

              <div class="input-field">
              <select name="plant[statuses][soil_status]" form="newplant">
                <option value="" disabled selected>How's the soil feel?</option>
                <option value="Extremely Dry">Extremely Dry</option>
                <option value="Dry">Dry</option>
                <option value="Damp">Damp</option>
                <option value="Soaked">Soaked</option>
                <option value="Showing Mildew">Showing Mildew</option>
                </select>
                 <label>Soil Status</label>
              </div>

          </div>
        </div>
      </div>
    </div>
   </section>
</div> <!--end parallax image-->

<section>
        <div class="row">
         <div class="col s8 offset-s2">
               <h4 class="header center-align" style="color:#00acc1; margin-top:50px;">Add care instructions</h4>
               </div>
               <section class="container">
               <div class="row">
                 <div class="input-field col m4 s12">
                   <input id="water-amt" type="number" name="plant[instructions][water_amt]" required>
                   <label for="water-amt">Water Amount</label>
                 </div>
                 <div class="input-field col m8 s12">
                 <select name="plant[instructions][water_amt_unit]" form="newplant" required>
                   <option value="" disabled selected>Unit of Water</option>
                   <option value="Spritz">Spritz</option>
                   <option value="Teaspoon(s)">Teaspoon(s)</option>
                   <option value="Tablespoon(s)" >Tablespoon(s)</option>
                   <option value="Cup(s)">Cup(s)</option>
                   <option value="Pint(s)" >Pint(s)</option>
                   <option value="Ounce(s)">Ounce(s)</option>
                   <option value="Quart(s)">Quart(s)</option>
                   </select>
                    <label>Water Unit</label>
                 </div>
               </div>

               <div class="row">
                 <div class="input-field col m4 s12">
                   <input id="water-freq" type="number" name="plant[instructions][water_freq]" required>
                   <label for="water-freq">Water Frequency</label>
                 </div>
                 <div class="input-field col m8 s12">
                 <select name="plant[instructions][water_freq_unit]" form="newplant" required>
                   <option value="" disabled selected>Frequency Unit</option>
                   <option value="Day(s)">Day(s)</option>
                   <option value="Week(s)">Week(s)</option>
                   <option value="Month(s)" >Month(s)</option>
                   </select>
                    <label data-error="wrong">Frequency</label>
                 </div>
               </div>
             </section>
     </div>
</section>

      <div class="row" style="height:200px;">
        <div class="col s4 offset-s4 m4 offset-m4">
        <div class="input-field" style="margin-top:5S0px;">
          <button class="btn-large waves-effect waves-light deep-orange lighten-1" type="submit" name="action">Submit
              <i class="material-icons right">add</i>
          </button>
        </div>
      </div>
      </div>
    </form>

<script>
$(document).ready(function() {
  $('select').material_select();
  $('.tooltipped').tooltip({delay: 50});
  $('.parallax').parallax();
  $('.carousel').carousel();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
  $("select[required]").css({display: "inline", height: 0, padding: 0, width: 0});

});

$("form").submit(function(e) {
  $(".radioRequired").each(function() {
    var rName = $(this).attr('name');
    var checked = $('[name=' + rName + ']').is(':checked');
    if (!checked && !$(this).hasClass('radioWarning')) {
      $(this).addClass('radioWarning');
      $(this).append('<div class="chip radioMessage">' + $(this).data("error") + '</div>');
    }
    if (checked) {
      $(this).removeClass('radioWarning');
      $(this).children('.radioMessage').remove();
    }
  });

  if ($(".radioWarning").length > 0) {
    e.preventDefault();
    return false;
  }
});

</script>
