<nav>
   <div class="nav-wrapper green darken-1">
     <a href="#!" class="brand-logo">PlantTrack</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/signup" class="waves-effect waves-light btn  deep-orange lighten-1">Signup</a></li>
       <li><a href="/login" class="waves-effect waves-light btn cyan darken-1">Login</a></li>
     </ul>
   </div>
 </nav>

<section>
  <div class="row">
      <div class="slider">
       <ul class="slides">
         <li>
           <img src="https://images.pexels.com/photos/8795/plant-cactus.jpg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
           <div class="caption center-align">
             <h3>A Personal Plant Assistant</h3>
             <h5 class="light grey-text text-lighten-3">Your green thumb has arrived</h5>
           </div>
         </li>
         <li>
           <img src="https://images.pexels.com/photos/707194/pexels-photo-707194.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
           <div class="caption center-align">
             <h3>My garden is my most beautiful masterpiece.</h3>
             <h5 class="light grey-text text-lighten-3">— Claude Monet</h5>
           </div>
         </li>
         <li>
           <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
           <div class="caption center-align">
             <h3>Welcome to PlantTrack</h3>
             <h5 class="light grey-text text-lighten-3">Signup Today</h5>
           </div>
         </li>
       </ul>
      </div>
  </div>
  </section>

  <div class="container">
   <div class="section">

     <!--   Icon Section   -->
     <div class="row">
       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
           <h5 class="center">Speeds up development</h5>

           <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
           <h5 class="center">User Experience Focused</h5>

           <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
           <h5 class="center">Easy to work with</h5>

           <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
         </div>
       </div>
     </div>

   </div>
   <br><br>
 </div>
<script>
$(document).ready(function(){
  $('.slider').slider({full_width: true});
  $('.slider').slider({height: 600});
});
</script>
