<nav>
   <div class="nav-wrapper green darken-1">
     <a href="#!" class="brand-logo">PlantTrackr</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/signup" class="waves-effect waves-light btn  deep-orange lighten-1">Signup</a></li>
       <li><a href="/login" class="waves-effect waves-light btn cyan darken-1">Login</a></li>
     </ul>
   </div>
 </nav>

<section>
  <div class="row">
      <div class="slider">
       <ul class="slides">
         <li>
           <img src="https://images.pexels.com/photos/8795/plant-cactus.jpg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
           <div class="caption center-align">
             <h3>A Personal Plant Assistant</h3>
             <h5 class="light grey-text text-lighten-3">Your green thumb has arrived</h5>
           </div>
         </li>
         <li>
           <img src="https://images.pexels.com/photos/707194/pexels-photo-707194.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
           <div class="caption center-align">
             <h3>My garden is my most beautiful masterpiece.</h3>
             <h5 class="light grey-text text-lighten-3">— Claude Monet</h5>
           </div>
         </li>
         <li>
           <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb"> <!-- random image -->
           <div class="caption center-align">
             <h3>Welcome to PlantTrackr</h3>
             <h5 class="light grey-text text-lighten-3">Signup Today</h5>
           </div>
         </li>
       </ul>
      </div>
  </div>
  </section>

  <div class="container">
   <div class="section">

     <!--   Icon Section   -->
     <div class="row">
       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-green-text"><i class="fa fa-pagelines fa-2g" aria-hidden="true"></i></h2>
           <h5 class="center">Save Care Instructions</h5>

           <p class="light">Save each of your indoor plants' care instructions individually to ensure they get the right TLC they need even when you're away on vacay.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-green-text"><i class="fa fa-medkit fa-2g" aria-hidden="true"></i></h2>
           <h5 class="center">Update Plant Statuses</h5>

           <p class="light">Anytime you water your plant or notice changes like dead leaves update its status to save a record to help you decide on making changes to its care instructions.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-green-text"><i class="fa fa-heart fa-2g" aria-hidden="true"></i></h2>
           <h5 class="center">Discover New Plants</h5>

           <p class="light">Find the right plants for your home to turn it into a totally tranquil indoor greenhouse to stress less and boost your mood.</p>
         </div>
       </div>
     </div>

   </div>
   <br><br>
 </div>

 <div class="parallax-container" style="height:500px">
  <div class="parallax" style="background-color:#000000;"><img src="https://images.pexels.com/photos/631909/pexels-photo-631909.jpeg?w=1260&h=750&dpr=3&auto=compress&cs=tinysrgb" style="opacity: 0.9; filter:blur(1px);"></div>
    <container>
      <section>
        <div class="row">
         <div class="col s8 offset-s2">
           <br>
           <h2 class="title white-text">Your Greenthumb Has Arrived...</h2>
           <h6 class="title white-text" style="padding:10px;">
          <a href="/signup" class="waves-effect waves-light btn-large  deep-orange lighten-1 pulse"  style="margin:10px;">Signup</a>
           OR
           <a href="/login" class="waves-effect waves-light btn-large cyan darken-1"  style="margin:10px;">Login</a></h6>
         </div>
       </div>
     </section>
   </container>
 </div>
<script>
$(document).ready(function(){
  $('.slider').slider({full_width: true});
  $('.slider').slider({height: 600});
  $('.parallax').parallax();

});
</script>
